<p id="notice"><%= notice %></p>

<h1><%= @lookup_type %> - Administracion</h1>

<table id="lookups_table" class="table table-hover table-condensed table-striped" height="30%" width="75%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if @lookups.size >0 %>
        <% @lookups.each do |lookup| %>
          <tr>
            <td><%= best_in_place lookup, :value %></td>
            <td><%= best_in_place lookup, :descripcion %></td>
            <td colspan="3"><%= link_to lookup, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash"></i>
            <% end %> </td>
          </tr>
        <% end %>
      <%else%>
        <tr>
          <td colspan="5"> No existe informacion relacionada a <%= @lookup_type %></td>
        </tr>
      <%end%>
      <tr id="lookups" style="display:none;">
        <%= render "lookups/form", l_type: @lookup_type %>
      </tr>
  </tbody>
</table>


<br>
