%i#toggle.icon-align-justify.icon-large

%ul#dock
  %li.launcher
    %i.icon-dashboard
    =link_to  t('dock.dashboard'), "hq_dashboard_index_path"
  %li.launcher
    %i.icon-file-text-alt
    =link_to 'Forms', '/hq/dashboard/form.html'
  %li.launcher
    %i.icon-table
    =link_to 'Tables', '/hq/dashboard/tables.html'
  %li.launcher.dropdown.hover
    %i.icon-flag
    %a{href: '#'} Reports
    %ul.dropdown-menu
      %li.dropdown-header Launcher description
      %li
        %a{:href => '#'} Action
      %li
        %a{:href => '#'} Another action
      %li
        %a{:href => '#'} Something else here
  - if current_user_admin?
    %li.launcher.dropdown.hover
      %i.icon-cog
      = link_to 'Configuración', '#'
      %ul.dropdown-menu
        %li
          = link_to 'Direcciones', lookups_path(@lookup, :lookup_type => "Direcciones"), :data => {no_turbolink: true}
        %li
          = link_to 'Especialidades Medicas', lookups_path(@lookup, :lookup_type => "Especialidades"), :data => {no_turbolink: true}
        %li
          = link_to 'Padecimientos', lookups_path(@lookup, :lookup_type => "Padecimientos"), :data => {no_turbolink: true}
        %li
          = link_to 'Estados Paciente', lookups_path(@lookup, :lookup_type => "Estados Paciente"), :data => {no_turbolink: true}
        %li
          = link_to 'Hospitales', lookups_path(@lookup, :lookup_type => "Hospitales"), :data => {no_turbolink: true}
        %li
          = link_to 'Tipo de Atencion', lookups_path(@lookup, :lookup_type => "Tipo de Atencion"), :data => {no_turbolink: true}
        %li
          = link_to 'Estado Civil', lookups_path(@lookup, :lookup_type => "Estado Civil"), :data => {no_turbolink: true}
  %li.launcher
    %i.icon-bug
    %a{href: '#'} Feedback
